/*
Desarrollado por Digital House Schools para su uso exlusivo en el marco de cursos del Digital Skills Diploma y Plataforma Playground (by Digital House).
https://www.digitalhouse.com/ar/productos/escuelas
*/
:root {
  --amarillo_fuerte: #ebb61a;
  --amarillo_claro: #e9d7a1;
  --verde_oscuro: #007a4c;
  --azul: #007a4c;
  --verde_claro: #00a365;
  --verde_muy_claro: #84d5b6;
  --gris_oscuro: #263238;
  --gris_claro: grey;
  --negro: black;
  --negro_transparente: rgba(9, 16, 8, 0.85);
  --blanco: white;
  /* --ladrillo: #ff7059; */
  --ladrillo: #cc5a47;
  --ladrillo_claro: #f39989;
  --ladrillo_transparente: rgba(204, 90, 71, .8);
  --verde_claro_transparente: rgba(0, 163, 101, .8);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* ESTRUCTURA GENERAL PAGINA */
.dhs-body {
  background-color: var(--negro);
  color: var(--blanco);
}

.dhs-body h4 {
  font-size: 16px;
  text-align: center;
}

.dhs-panelSuperior {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  height: 100vh;
}

#dhs-wrapper-lista {
  padding: 10px;
}

#dhs-wrapper-lista2 {
  padding: 10px;
  background-color: var(--gris_oscuro);
  position: relative;
  /*para el tachito*/
}

#dhs-wrapper-lista2 #dhs-lista2 {
  width: 220px;
  min-height: 60vh;
  max-height: 70vh;
  overflow-y: auto;
  margin: 10px auto;
  padding: 5px;
  padding-bottom: 200px;
  background-color: var(--blanco);
}

/* BOTONES ESPECIALES */

#dhs-erase {
  font-size: 23px;
  background-color: var(--negro);
  /* color:var(--gris_claro); */
  color: var(--ladrillo);
  position: absolute;
  bottom: 2vh;
  left: 10%;
  width: 80%;
  height: 12vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

#dhs-erase i:hover {
  font-size: 40px;
}

#dhs-erase li {
  display: none;
  /*Importante elementos eliminados*/
}

#dhs-erase i:disabled {
  cursor: wait !important;
}

#dhs-button {
  background-color: var(--verde_oscuro);
  color: var(--blanco);
  border-radius: 5px;
  margin: 20px auto;
  font-size: 20px;
  padding: 14px 18px;
  display: grid;
  grid-template-columns: 120px 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#dhs-button:active {
  border: 1px solid var(--amarillo_fuerte);
}

#dhs-button:disabled {
  border: 1px solid var(--ladrillo);
  background-color: var(--gris_oscuro);
  font-style: italic;
  transform: scale(1.1);
  cursor: wait !important;
}

#dhs-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#dhs-button img {
  display: block;
  width: 100%;
  height: 80%;
}

/* BLOQUES */
/*.ordenSimple */
.dhs-lista-bloques  li {
  list-style: none;
  border: 1px solid var(--gris_claro);
  background-color: var(--amarillo_fuerte);
  color: var(--blanco);
  width: 160px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  cursor: grab;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  padding: 3px;
}

.dhs-lista-bloques li img {
  width: 100%;
}

.dhs-lista-bloques li select,
.dhs-lista-bloques li select {
  background-color: var(--amarillo_claro);
  border: none;
  padding: 1.5px;
  margin: 1.5px;
  border-radius: 5px;
}

/***********- Pia - bloque Repeat -********************/
/*tratar por clase*/
li.ordenRepeat > ul{
  /* #ul-repeat{ */
    position:relative;
    list-style: none;
    background-color: var(--amarillo_claro);
    border: 1px solid var(--gris_claro);
    color: var(--blanco);
    width: 120px;
    height:50px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    cursor: grab;
    margin:2px 2px 2px 30px; 
  }
li.ordenRepeat > div {
  display:grid;
  grid-template-columns: 2fr 1fr;
}

#dhs-lista2 li {
  margin: 0 auto;
}

#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-incorrect {
  background-color: var(--ladrillo) !important;
  border: 2px solid var(--amarillo_fuerte) !important;
}

#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-incorrect input,
#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-incorrect select {
  background-color: var(--ladrillo_claro);
}

#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-correct {
  background-color: var(--azul) !important;
  border: 2px solid var(--amarillo_fuerte) !important;
}

#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-past {
  background-color: var(--verde_claro) !important;
}

#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-past input,
#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-past select,
#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-correct input,
#dhs-wrapper-lista2 #dhs-lista2 li.dhs-running-block-correct select {
  background-color: var(--verde_muy_claro) !important;
}
#dhs-lista2 > li.ordenRepeat{
  /*background-color: red;*/
  width: 160px;
}
#dhs-lista2 > li.ordenRepeat > ul{
  width: 120px;
  height:auto;
  padding: 2px 2px 15px 2px;
}
/* #ul-repeat > .ordenSimple{ */
li.ordenRepeat > ul > li{
  background-color: rgb(195, 146, 13);
  width: 110px;
  font-size: 12px;
}
/***********- Pia - bloque Repeat - fin********************/

/* SORTABLE */

.sortable-chosen {
  box-shadow: 0 0 10px 5px var(--);
  animation: chauDespacito 3s ease-out;
}

.sortable-drag {
  opacity: 1;
  box-shadow: 0 0 10px 5px var(--gris_claro);
}

.sortable-ghost {
  visibility: hidden;
}


/* JUEGO */

#panelJuego {
  padding: 10px;
}

/*-----Laberinto-------*/
.personaje {
  text-align: center;
  position: absolute !important;
  z-index: 2;
  border-radius: 5px;
}

.personaje img {
  width: 100%;
  height: 100%;
  padding: 2px;
}

#elemento-escenario {
  position: relative;
  margin: 20px auto;
  z-index: 1;
}

.casillero {
  float: left;
  border-width: 1px;
  border-style: solid;
  background-size: cover;
}

.casillero img {
  width: 100%;
  height: 100%;
}

/* .path{
  background-image: url("../pages/lupe_commons/img/pasto.png");
}
.wall{
  background-image: url("../pages/lupe_commons/img/arboles_pasto.png");

} */


/*TOOLTIPS JUEGO*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  font-family: monospace;
  background-color: var(--gris_claro);
  color: var(--blanco);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 5;
  top: -2px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent var(--gris_claro);
}

.tooltipVisible .tooltiptext {
  visibility: visible;
}

/* PANEL MODAL JUEGO */

div.dhs-modal-pannel {
  position: absolute;
  overflow: hidden;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: var(--verde_claro_transparente);
  border: 1px solid var(--negro);
  z-index: 20;
  text-align: center;
  transition: all .35s;
  font-size: 25px;
  border: 3px solid var(--amarillo_fuerte);
  opacity: 98%;
}

div.dhs-modal-pannel-hidden {
  visibility: hidden;
  opacity: 20%;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  font-size: 0px;
}

div.dhs-modal-pannel p.dhs-modal-pannel-title {
  padding: 5%;
  background: var(--negro_transparente);
  color: var(--blanco);
  font-size: 100%;
  font-weight: bold;
}

div.dhs-modal-pannel img.dhs-modal-pannel-image {
  width: 40%;
  height: 40%;
  margin: 5%;
  border-radius: 20px;
}

div.dhs-modal-pannel p.dhs-modal-pannel-main-text {
  font-weight: bold;
  font-size: 80%;
}


/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  margin: 2px;
  padding: 2px;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 1px;
  border: none;
  background: var(--blanco);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gris_claro);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* FOOTER */
footer {
  position: relative;
}

#logodhs {
  width: 180px;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

#dhs-footer {
  color: var(--gris_claro);
  position: absolute;
  width: 220px;
  bottom: 15px;
  right: 1px;
  font-size: 12px;
  text-align: left;
}

#dhs-footer p span {
  color: var(--amarillo_fuerte);
}

#dhs-footer a {
  color: var(--amarillo_fuerte);

}

#dhs-footer a:visited {
  color: var(--ladrillo);
}

span#dhs-button-open-ref {
  color: var(--amarillo_fuerte);
  text-decoration: underline;
  cursor: pointer;
}


/* REFERENCIA ICONOS */
#referencias-iconos {
  display: none;
  color: white;
  background: black;
  position: absolute;
  padding: 10px;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
}

#referencias-iconos header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}

#referencias-iconos header>h5 {
  font-size: 30px;
}

#referencias-iconos header>img {
  height: 70px;
  align-self: right;
}

#referencias-iconos main {
  background-color: var(--gris_oscuro);
  padding: 20px
}

#referencias-iconos main>p {
  margin-bottom: 10px;
}

#referencias-iconos main>p a {
  color: var(--amarillo_fuerte);

}

#referencias-iconos main a:visited {
  color: var(--ladrillo);
}


ul#lista-iconos {
  color: black;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

ul#lista-iconos li {
  display: grid;
  grid-template-columns: 35px auto;
  gap: 5px;
  background: rgb(235, 228, 228);
  padding: 2px;
  /* margin: 10px; */
  align-items: center;
  justify-content: center;
}

ul#lista-iconos li.icon-block-hidden {
  display: none;
}

ul#lista-iconos p.icon-name {
  font-weight: bold;
  font-size: 14px;
}

ul#lista-iconos .icon-reference {
  font-style: italic;
  font-size: 12px;
}

ul#lista-iconos li img {
  width: 100%;
  border: 1px solid grey;
  background-color: var(--gris_oscuro);
}

#dhs-button-close-ref {
  color: white;
  background-color: var(--ladrillo);
  /* color:var(--blanco); */
  border-radius: 5px;
  margin: 20px;
  font-size: 18px;
  padding: 12px 16px;
  /* display: grid; */
  /* grid-template-columns: 120px 20px; */
  /* gap: 10px; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

@media (max-width: 600px) {
  #logodhs {
    top: 10px;
    left: 20px;
  }

  .dhs-panelSuperior {
    margin-top: 60px;
    grid-template-columns: 1fr;
  }

  #dhs-wrapper-lista2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto 90px;
  }

  footer {
    position: relative;
  }

  #dhs-footer {
    height: 50px;
    top: 700px;
    right: inherit;
    font-size: 10px;
    padding: 10px;
  }
}


